h2{
    color: teal;
    background-color: #ffafcc;

    
}
button{
    color: red;
    background-color: rgb(99, 55, 56);
}
p{
    color: #ffcc00;
    background:rgb(22, 22, 99);
}
body{
    background-color: #a2d2ff;
    
}